.footer {
    a {
        text-decoration: none;
        color: $greyLight;
    }
    p {
        color: $greyLight;
    }
    &__title {
        text-transform: uppercase;
        color: $blackLight;
        margin-bottom: 18px;
    }
    &__block {
        a {
            line-height: 2;
        }
        .wrapper {
            width: 333px;
            display: grid;
            grid-template-columns: repeat(6, 46px);
            justify-content: space-between;
            align-items: center;
        }
    }
    .container {
        margin-right: 6%;
        display: grid;
        grid-template-columns: repeat(3, 1fr) 600px;
        grid-auto-rows: 160px;
        gap: 15px;
        grid-template-areas: 
        'b0 b0 . . '
        'b1 b2 b4 b5'
        'b1 b3 b4 b5'
        '. . . b6';

       .b0 {
            grid-area: b0;
            align-self: center;
        }
        .b1{
            grid-area: b1;
        }
        .b2{
            grid-area: b2;
        }
        .b3{
            grid-area: b3;
        }
        .b4{
            grid-area: b4;
        }
        .b5{
            grid-area: b5;
        }
        .b6{
            grid-area: b6;
            position: relative;
            top: -80px;
        }
    }
}