.header {
    height: 100px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .burger {
        display: none;
        width: 24px;
        height: 16px;
        border-top: 2px solid $blackDark;
        border-bottom: 2px solid $blackDark;
        position: relative;
        &::before {
            content: '';
            position: relative;
            display: block;
            width: 22px;
            border: 1px solid $blackDark;
            top:50%;
            transform: translateY(-50%);
        }
    }

    &__logo {
        display: block;
    }
    &__nav {
        display: flex;
        flex-basis: 520px;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0 40px;
        a {
            color: $blackLight;
            text-decoration: none;
            white-space: nowrap;
            &:hover {
                border-bottom: 3px solid $green;
            }
            span {
                position: relative;
                top: 5px;
                margin-left: 6px;
            }
        }
    }
    &__buttons {
        display: flex;
        gap: 10px;
    }
}