.main-grid {
    .container {
        display: grid;
        grid-template-columns: 65% 35%;
        column-gap: 20px;
    }
    .searchPosts {
        width: 100%;
        height: 59px;
        margin-bottom: 32px;
        border: 1px solid $greyLight;
        border-radius: 5px;
        padding-left: 58px;
        position: relative;
        color: $blackDark;
        background: url("../img/icons/search.svg") 20px 50% no-repeat;
    }
}
