.pricing {
    background-color: $darkBG;
    margin-top: 73px;
    min-height: 800px;
    padding: 110px 0 40px 0;
    &__title {
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }
    &__cards {
        margin: 60px 0 51px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 380px;
    }
    &__card {
        grid-row-start: 2;
        padding: 50px 0 40px 0;
        margin: 0px 10px 0px 10px;
        width: 380px;
        height: 340px;
        background-color: #fff;
        color: $blackLight;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all .2s;
        &:hover {
            height: 380px;
            padding-bottom: 59px;
            border: 3px solid $green;
            .wb {
                background-color: $green;
                color: #fff;
            }
        }
        &-title {
            text-align: center;
            text-transform: uppercase;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 24px;
                height: 0;
                border: 1px solid $green;
                left: 50%;
                transform: translateX(-50%);
                bottom: -8px;
            }
        }
        &-price {
            text-align: center;
            position: relative;
            margin: 23px 0 23px 0;
            &::before {
                content: '';
                position: absolute;
                width: 200px;
                height: 0;
                border-bottom: 1px solid $greyDark;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
            span { 
                &:first-child {
                    vertical-align: top;
                }
            }
        }
        &-description {
            text-align: center;
            span {
                &:first-child {
                    color: $red;
                    text-decoration: line-through;
                    margin-right: 12px;
                }
            }
        }
        &-save {
            text-align: center;
        }
        .wb {
            margin: 0 auto;
            width: 205px;
            vertical-align: bottom;
        }
    }
    &__ways {
        min-height: 100px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 100px));
        justify-content:center;
        justify-items: center;
        align-items: center;
        grid-auto-rows: minmax(23px 100px);
        gap: 30px;
        color: #fff;
    }
    &__way {
        &:nth-child(2) {
            height: 100%;
            width: 100px;
            background-color: $greyLight;
        }
        &:nth-child(5) {
            height: 100%;
            width: 100px;
            background-color: $greyLight;
        }
        &:nth-child(8) {

            height: 100%;
            width: 100px;
            background-color: $greyLight;
        }
    }
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 31px;
    }
    &__link {
        margin: 0 20px;
        color: $green;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        img {
            margin-left: 15px;
            transform: rotate(90deg);
        }
    }
}