.warning {
    background-color: $blackDark;
    min-height: 40px;
    width: 100%;
    color: $greyLight;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {
        height: inherit;
        list-style-type: none;
        li {
            margin-right: 33px;
            margin-top: 12px;
            margin-bottom: 12px;
            display: inline-block;
            vertical-align: middle;
            span {
                &:first-child{
                    margin-right: 33px;
                }
            }
            
            &:first-child {
                margin-right: 4px;
            }
            &:nth-child(2) {
                color: $orange;
            }
        }
    }
    &__link {
        min-width: 68px;
        color: white;
        text-decoration: none;
    }
    &__close {
        right: 20px;
    }

}