@media (max-width: 992px) {
    .featured {
        &__wrapper{
            padding: 30px 30px 15px 30px;
        }
    }
}
@media (max-width: 768px) {
    .featured {
        .container {
            flex-direction: column;
        }
        &__cover {
            width: 100%;
            object-fit: cover;
        }
        &__text {
            margin-bottom: 17px;
        }
    }
}
@media (max-width: 576px) {
    .featured {
        .container {
            margin: 0 20px 30px 20px;
        }
    }
}