@media (max-width: 1200px) {
    .header {
        padding: 10px;
    }
}
@media (max-width: 1058px) {
    .header {
        &__logo{
            order: 1;
        }
        &__nav{
            order: 3;
        }
        &__buttons{
            order: 2;
        }
    }
}
@media (max-width: 992px) {

}
@media (max-width: 615px) {
    .header {
        padding: 10px 20px;
        &__nav {
            display: none;
        }
        &__button {
            display: none;
        }
        .gb {
            max-width: 126px;
        }
        .burger {
            display: block;
        }
    }
}
@media (max-width: 576px) {
    .header {
        &__logo {
            width: 48%;
        }

    }
}