@media (max-width: 1200px) {
   .main {
	&__post {
		display: block;
	}
	&__wrapper {
		margin: 0 40px 0 40px;
		&:first-child {
			img {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}
	.searchPosts {
		display: inline-block;
	}
	
   }
}
@media (max-width: 768px) {
	.main {
		grid-column: 1/2;
		&__text {
			margin-bottom: 22px;
		}
		&__name {
			margin-bottom: 22px;
		}
		&__descr {
			margin-bottom: 22px;
		}
		button {
			margin-bottom: 72px;
		}
	}
}