
@media (max-width: 768px) {        
    .main-grid {
        .container {
            grid-template-columns: 100%;
        }
    }
}
@media (max-width: 576px) {        
    .main-grid {
        .container {
            grid-template-columns: 100%;
            margin: 0 20px 0 20px;
        }
    }
}

