@import "fonts";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 0 12.5% 0 12.5%;
}

@import './variablesMixins/fonts.scss';
@import './variablesMixins/colors.scss';
@import './variablesMixins/figures.scss';
@import './variablesMixins/buttons.scss';


@import './blocks/warning.scss';
@import './blocks/header.scss';
@import './blocks/tagsnav.scss';
@import './blocks/main.scss';
@import './blocks/featured-article.scss';
@import './blocks/aside.scss';
@import './blocks/pricing.scss';
@import './blocks/main-grid.scss';
@import './blocks/footer.scss';


@import './media/warning';
@import './media/header.scss';
@import './media/tagsnav.scss';
@import './media/main.scss';
@import './media/featured-article.scss';
@import './media/aside.scss';
@import './media/pricing.scss';
@import './media/main-grid.scss';
@import './media/footer.scss';