.wb {
    border: 1px solid $green;
    background-color: #fff;
    color: $green;
    border-bottom-left-radius: 50px 50px;
    border-top-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    padding: 14px 32px 7px 32px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.gb {
    border: 1px solid $green;
    background-color: $green;
    color: #fff;
    border-bottom-left-radius: 50px 50px;
    border-top-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    padding: 14px 32px 7px 32px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}