$green: rgb(76, 182, 73);
$greyLight: rgb(136, 144, 153);
$greyDark: rgb(247, 247, 247);
$greyLines: rgb(235, 236, 237);
$blackDark: rgb(34, 37, 46);
$blackLight: rgb(50, 54, 66);
$darkBG: rgb(61, 66, 81);
$orange: rgb(255, 141, 0);
$red: rgb(242, 68, 88);
