.triangleUp {
    width: 0;
    height: 0;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-bottom: 19px solid $orange;
}
.triangleDown {
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 7px solid $blackDark;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    cursor: pointer;
    &:before {
        content: '';
        display: block;
        width: 18px;
        height: 2px;
        background-color: $greyLight;
        top: 50%;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 18px;
        background-color: $greyLight;

    }
}