.fz14med {
    font-size: 14px;
    font-weight: 500;
}

.fz14reg {
    font-size: 14px;
    font-weight: 400;
}

.fz14bold {
    font-size: 14px;
    font-weight: 700;

}

.fz12reg {
    font-size: 12px;
    font-weight: 400;
}

.fz12bold {
    font-size: 12px;
    font-weight: 700;
}

.fz24light {
    font-size: 24px;
    font-weight: 300;
}

.fz32light {
    font-size: 32px;
    font-weight: 300;
}

.fz18light {
    font-size: 18px;
    font-weight: 300;
}

.fz48light {
    font-size: 48px;
    font-weight: 300;
}

.fz56light {
    font-size: 56px;
    font-weight: 300;
}